extends ../layout

block page
	- var menu = 'reports'

block content
	div(ng-controller="rPlayerCont")
		h1 Player
		div.row
			div.col-xs-5
			div.col-xs-7
				input.form-control(type="text" ng-model="query" placeholder="Search for a player")
		div.row
			div.col-xs-12
				hr
		div.row
			div.col-xs-12
				table.table.table-hover
					thead
						tr
							th.col-xs-7 Name
							th.col-xs-1 Jogos
							th.col-xs-1 Gols
							th.col-xs-1 Med. Gols
							th.col-xs-1 Yellow
							th.col-xs-1 Red
					tbody
						tr(ng-repeat="p in rPlayerList | filter:query")
							td {{p.name}}
							td {{p.jogos}}
							td {{p.gols}}
							td {{p.gols / p.jogos}}
							td {{p.yellow}}
							td {{p.red}}