nav.navbar.navbar-inverse(data-spy="affix" data-offset-top="337")
	div(ng-controller="menuCont")
		div.container-fluid
			div.navbar-header
				button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(class="navbar-brand" href="/")
					img.logo(src="/images/logo.jpg")
			div.collapse.navbar-collapse(id="myNavbar")
				ul.nav.navbar-nav.navbar-right
					li(ng-class="{'active' : itemMenu == 'index'}")
						a(href='/rSumulas') Team Stats
					li(ng-class="{'active' : itemMenu == 'reports'}")
						a(href='/rPlayers') Players Stats
					if (user)
						li(ng-class="{'active' : itemMenu == 'sumulas'}")
							a(href="/sumulas") Games
						li(ng-class="{'active' : itemMenu == 'players'}")
							a(href="/players") Players
						li(ng-class="{'active' : itemMenu == 'users'}")
							a(href="/users") Users
						li
							a(href="/logout")
								span.glyphicon.glyphicon-log-out
								|	Log out (#{user.username})
					else
						li
							a(href='/login')
								span.glyphicon.glyphicon-log-in
								|	Log in