.menu
	ul.nav.nav-pills.nav-justified
		li(class=(menu == 'index')?'active':'')
			a(href='/') Home
		li(class=(menu == 'reports')?'active':'')
			a(href='/rPlayers') Reports
		if (user)
			li(class=(menu == 'sumulas')?'active':'')
				a(href="/sumulas") Sumulas
			li(class=(menu == 'players')?'active':'')
				a(href="/players") Players
			li(class=(menu == 'users')?'active':'')
				a(href="/users") Users
			li
				a(href="/logout")
					span.glyphicon.glyphicon-log-out
					|	Log out (#{user.username})
		else
			li(class=(menu == 'login')?'active':'')
				a(href='/login')
					span.glyphicon.glyphicon-log-in
					|	Log in