doctype html
html
	head
		title= appTitle
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
		script(src='/javascripts/app.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	body(ng-app="futsalApp")
			block page
			include includes/menu
			block content
			br
			div.col-xs-12
				div.alert.alert-danger(ng-hide="!info.message")
					h4 {{info.message}}
				div.alert.alert-success(ng-hide="!success.message")
					h4 {{success.message}}