extends index

block page
	- var menu = 'users'

block content
	div(ng-app="userApp" ng-controller="userCont")
		h1 Register Page
		br
		form(role='form' ng-submit="registerUser()" style='max-width: 300px;')
			.form-group
				label(for="userName") Name:
				input.form-control(type='text' ng-model="formData.name" id="userName" placeholder='Nome')
			.form-group
				label(for="userUsername") Username:
				input.form-control(type='text' ng-model="formData.username" id="userUsername" placeholder='Username')
			.form-group
				label(for="userPassword") Password:
				input.form-control(type='password' ng-model="formData.password" id="userPassword" placeholder='Password')
			button.btn.btn-default(type='submit') Submit
			&nbsp;
			a(href='/users')
				button.btn.btn-primary(type="button") Cancel
		br
		h4 {{info.message}}