extends ../layout

block page

block content
	div(ng-controller="userCont")
		div.jumbotron
			div.container-fluid
				h2 Users
				a(href="/register").btn.btn-default
					span.glyphicon.glyphicon-plus
					|  New
		div.container-fluid
			table.table.table-hover
				thead
					tr
						th.col-xs-6 Name
						th.col-xs-4 Username
						th.col-xs-2 Admin
				tbody
					tr(ng-repeat="userItem in userList")
						td {{userItem.name}}
						td {{userItem.username}}
						td
							span.glyphicon(ng-class="{'glyphicon-ok' : userItem.admin, 'glyphicon-remove' : !userItem.admin}")