  body {
      position: relative;
      min-width: 650px;
      background-color: threedhighlight; 
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  
  .content {padding-top:20px;}
  
  .capa {
  	overflow: hidden;
  	height: 140px;
  }
  
  .navbar-brand {
  	padding-top: 2px;
  	padding-left: 2px;
  	display: none;
  }
  
  .affix .logo {
	height: 45px;
  }
  
  .affix .navbar-brand {
	display: block;
  }
  
  .navbar-text {
  	color: #fff !important;
  }
  
  

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > .row {
      width: 70%;
      margin: auto;
  }
  
  .carousel-inner > .item > .row,
  .carousel-inner > .item > .row > div {
  	height: 350px;
  }
  
  .carousel-inner > .item > .row > divLogo {
	display: inline-block;
	position: relative;
  }
  
  .carousel-inner > .item > .row > div > .logo {
  	max-height: 70%;
  	max-width: 70%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  }
  
  .placar {
  	font-size: 80px;
  }
  
  .placar-sign {
  	font-size: 50px;
  	padding-top: 20px;
  }
     


@media(min-width:700px) {
	.capa {
  		height: 150px;
	}
}

@media(min-width:750px) {
	.capa {
  		height: 165px;
	}
}

@media(min-width:800px) {
	.capa {
  		height: 180px;
	}
}

@media(min-width:850px) {
	.capa {
  		height: 200px;
	}
}

@media(min-width:900px) {
	.capa {
  		height: 220px;
	}
}

@media(min-width:1000px) {
	.capa {
  		height: 240px;
	}
}
  
@media(min-width:1100px) {
	.capa {
  		height: 260px;
	}
}
@media(min-width:1200px) {
	.capa {
  		height: 280px;
	}
}
@media(min-width:1370px) {
	.capa {
  		height: 300px;
	}
}
@media(min-width:1450px) {
	.capa {
  		height: 320px;
	}
}
@media(min-width:1510px) {
	.capa {
  		height: 340px;
	}
}
@media(min-width:1670px) {
	.capa {
  		height: 360px;
	}
}
@media(min-width:1820px) {
	.capa {
  		height: 380px;
	}
}
@media(min-width:1990px) {
	.capa {
  		height: 400px;
	}
}
@media(min-width:2150px) {
	.capa {
  		height: 420px;
	}
}
@media(min-width:2300px) {
	.capa {
  		height: 440px;
	}
}

.divcent{
  height: 260px; /*can be anything*/
  width: 260px; /*can be anything*/
  display: inline-block;
  border: 1px solid black; /*not required*/
  position: relative;
}

.imagem {
  max-height: 70%;
  max-width: 70%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}