extends ../layout

block page
	- var menu = 'sumulas'

block content
	div(ng-controller="sumulaCont")
		h1 New Sumula
		br
		div.row(ng-init="findSumula('#{_id}')")
			div.col-xs-12
				form(role="form", ng-submit="createSumula()")
					div.row
						div.col-xs-6
							.form-group
								label(for="sumulaData") Data
								input.form-control(type="text" ng-model="sumula.data" id="sumulaData" placeholder="Enter sumula data" ng-disabled="view")
						div.col-xs-6
							.form-group
								label(for="sumulaQuadro") Quadro
								input.form-control(type="text" ng-model="sumula.quadro" id="sumulaQuadro" placeholder="Enter sumula quadro" ng-disabled="view")
					div.row
						div.col-xs-6
							label BSF Futsal
						div.col-xs-6
							.form-group
								label(for="sumulaAdversario") Adversario
								input.form-control(type="text" ng-model="sumula.adversario" id="sumulaAdversario" placeholder="Enter sumula adversario" ng-disabled="view")
					div.row
						div.col-xs-6
							.form-group
								label(for="sumulaGolsFavor") Gols Favor
								input.form-control(type="text" ng-model="sumula.goalsPro" id="sumulaGolsFavor" placeholder="Enter sumula golsFavor" ng-disabled="view")
						div.col-xs-6
							.form-group
								label(for="sumulaGolsContra") Gols Contra
								input.form-control(type="text" ng-model="sumula.goalsCon" id="sumulaGolsContra" placeholder="Enter sumula golsContra" ng-disabled="view")
					div
						hr
					div.form-group
						div.row
							div.col-xs-12
								table.table.table-hover
									thead
										tr
											th.col-xs-1
											th.col-xs-8 Player
											th.col-xs-1 Gols
											th.col-xs-1 Yellow
											th.col-xs-1 Red
									tbody
										tr(ng-repeat="p in sumula.players")
											td
												input.form-control(type="checkbox" ng-model="p.active" ng-disabled="view")
											td
												label {{p.name}}
											td
												input.form-control(type="text" ng-model="p.gols" ng-disabled="!p.active")
											td
												input.form-control(type="checkbox" ng-model="p.yellow" ng-disabled="!p.active")
											td
												input.form-control(type="checkbox" ng-model="p.red" ng-disabled="!p.active")
					div
						hr
						button.btn.btn-default(type="submit" ng-hide="view") Submit
						&nbsp;
						a(href="/sumulas" ng-hide="view").button.btn.btn-primary Cancel
						a(href="/sumulas" ng-hide="!view").button.btn.btn-primary Back