extends ../layout

block page
	- var menu = 'players'

block content
	div(ng-controller="playerCont")
		div.jumbotron
			div.container-fluid
				h2 Player
				div.row
					div.col-xs-5
						a(href="/newPlayer").btn.btn-default
							span.glyphicon.glyphicon-plus
							|  New
					div.col-xs-7
						input.form-control(type="text" ng-model="query" placeholder="Search for a player")
		div.container-fluid
			div.row
				div.col-xs-12
					table.table.table-hover
						thead
							tr
								th.col-xs-1 Edit
								th.col-xs-1
								th.col-xs-7 Name
								th.col-xs-2 Active
								th.col-xs-1 Delete
						tbody
							tr(ng-repeat="p in playerList | filter:query")
								td
									button.btn.btn-link(type="button" ng-click="updatePlayer(p._id)")
										span.glyphicon.glyphicon-edit
								td
									img(src="/players/getPlayerPhoto/{{p._id}}" width="70%")
								td {{p.name}}
								td
									button.btn(ng-class="{'btn-danger': p.active == false}" type="button" ng-click="inactivePlayer(p._id)")
										span.glyphicon.glyphicon-remove-circle
									button.btn(ng-class="{'btn-success': p.active == true}" type="button" ng-click="activePlayer(p._id)")
										span.glyphicon.glyphicon-ok-circle
								td
									button.btn.btn-danger(type="button" ng-click="deletePlayer(p._id)")
										span.glyphicon.glyphicon-remove