extends ../index

block page
	- var menu = 'players'

block content
	div(ng-controller="playerCont")
		h1 New Player
		br
		div.row(ng-init="findPlayer('#{_id}')")
			div.col-xs-12
				form(role="form", ng-submit="createPlayer()" style='max-width: 300px;')
					.form-group
						label(for="playerName") Nome:
						input.form-control(type="text" ng-model="player.name" id="playerName" placeholder="Enter player name")
					button.btn.btn-default(type="submit") Submit
					&nbsp;
					a(href="/players").button.btn.btn-primary Cancel